@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&display=swap');

body {
    width: 280px;
    height: 320px;
    border-radius: 8px;
    background-image: linear-gradient(#303542 ,#0e4b90, #303542);
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    padding: 35px;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(255, 255, 255, 0.16);
}

input {
    font-family: 'Assistant', sans-serif;;
    border: none;
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: rgba(255, 255, 255, .2) 0 -25px 18px -14px inset,rgba(255, 255, 255, .15) 0 1px 2px,rgba(255, 255, 255, .15) 0 2px 4px,rgba(255, 255, 255, .15) 0 4px 8px,rgba(255, 255, 255, .15) 0 8px 16px,rgba(255, 255, 255, .15) 0 16px 32px;
}


button {
    font-family: 'Assistant', sans-serif;
    width: 100%;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

button:active{
    scale: 88%;
}